 @font-face {
     font-family: 'iconfont';
     src: url('//at.alicdn.com/t/font_2316393_umjnzilkctp.eot');
     src: url('//at.alicdn.com/t/font_2316393_umjnzilkctp.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_2316393_umjnzilkctp.woff2') format('woff2'), url('//at.alicdn.com/t/font_2316393_umjnzilkctp.woff') format('woff'), url('//at.alicdn.com/t/font_2316393_umjnzilkctp.ttf') format('truetype'), url('//at.alicdn.com/t/font_2316393_umjnzilkctp.svg#iconfont') format('svg');
 }
 
 .iconfont {
     font-family: iconfont;
     margin-left: 20rpx;
     color: #000;
 }
 
 #trans-tooltip,
 #tip-arrow-bottom,
 #tip-arrow-top {
     display: none;
 }
 
 page {
     background-color: #f8fafb;
 }